*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
ul{
  display: flex;
  /* border: 1px black solid; */
  justify-content: flex-end;
  flex-wrap: wrap;
  /* box-shadow: 0px 5px 7px 0px; */
  /* position: sticky;
  top: 0; */
  /* background-color: black; */
  
}
ul li{
  margin: 2%;
}
ul  #name{
  color: rgb(211, 33, 62);
  margin-right: auto;
  align-self: center;
  /* border: 1px solid black; */
  width: 20%;
  text-align: center;
  font-size: 40px;
font-family: Georgia, 'Times New Roman', Times, serif;

}
ul li a{
  color: rgb(214, 24, 56);
 font: bolder;
}
ul li a:hover{
  color: pink;
}
ul li .home{
  color: rgb(209, 35, 64);
}
ul li .home:hover{
  color: pink;
}
ul img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  align-self: center;
  margin-left: 4%;
}
.content {
  display: flex;
  /* border: 1px solid black; */
  margin-right: auto;
  margin-top: 9%;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}
.img {
  margin-left: auto;
  /* border: 1px solid black; */
  width: 500px;
}
.img img {
  height: 350px;
}
.content .about {
  /* border: 1px solid black; */
  text-align: center;
  width: 50%;
  font-size: 30px;
}
.content .about .name {
  color: rgb(218, 72, 96);
  font-size: 50px;
}
.intro {
  /* border: 1px solid black; */
  margin-top: 18%;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.intro div {
  font-size: 20px;
}
.intro .image1 {
  /* border: 1px solid black; */
  margin-right: auto;
}
.intro .line1 {
  /* border: 1px solid black; */
  align-self: center;
}
.intro .line1 h1 {
  font-size: 35px;
}
.intro .image1 img {
  height: 300px;
}
#skills {
  /* border: 1px solid black; */
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
#skills .icon {
  margin-top: 4%;
  font-size: 130px;
}
#skills .icon #css {
  color: rgb(228, 79, 21);
}
#skills .icon #js {
  color: rgb(202, 202, 54);
}
#skills .icon #react {
  color: rgb(44, 44, 206);
}
#skills .icon a i:hover{
 box-shadow:  10px 5px 5px pink;
}
#projects {
  /* border: 1px solid black; */
  margin-top: 18%;
  /* display: flex;
  flex-direction: row; */
}
#projects h1 {
  text-align: center;
}
#projects img {
  height: 300px;
  width: 300px;
  /* border: 1px solid black; */
}
#projects .project-el {
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-end;
}
#projects .project-el p {
  align-self: center;
  /* border: 1px solid black; */
  width: 60%;
  font-size: 50px;
  text-align: center;
}
#blogs {
  /* border: 1px solid black; */
  margin-top: 18%;
  position: relative;
  z-index: -1;
}

#blogs h1 {
  text-align: center;
}
#blogs div {
  display: flex;
}
#blogs div p {
  align-self: center;
  /* border: 1px solid black; */
  width: 73%;
  font-size: 50px;
  text-align: center;
}
#contact {
  /* border: 1px solid black; */
  margin-top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 
  /* background-color: rgb(202, 198, 198); */
}

#contact img {
  margin-top: 4%;
  height: 200px;
  width: 200px;
  clip-path: circle();
}
#contact .contact-icon {
  margin-top: 2%;
  font-size: 50px;
}
#contact .contact-icon a{
color: black;
opacity: 0.6;
}



@media (max-width: 668px) {
  ul{
    align-items: center;
    height: 55px;
}
ul li {
    margin: 1%;
}
ul li a{
    font-size: 10px;
}
ul #name{
    font-size: 15px;
}
  .content {
    flex-direction: row;
  }
  .img {
    width: 40%;
  }
  .content .img img {
    height: 120px;
  }
  .content .about {
    font-size: 15px;
  }
  .content .about .name {
    font-size: 30px;
  }
  .intro .image1 img {
    height: 150px;
    width: 150px;
    align-self: center;
  }
  .intro .line1 {
    font-size: 10px;
  }
  .intro .line1 h1 {
    font-size: 20px;
  }
  #skills{
    flex-direction: column;
  }
  #skills .icon {
    font-size: 50px;
  }
  #projects .project-el p {
    font-size: 20px;
  }
  #projects img {
    height: 150px;
    width: 150px;
  }
  #blogs div p {
    font-size: 20px;
  }
  #blogs div img {
    height: 150px;
    width: 150px;
  }
  ul p{
    visibility: hidden;
  }
 
  ul img{
    margin-left: 0;
    height: 40px;
    width: 40px;
    /* border-radius: 50%; */
    padding-left: 10px;

  }
}
