* {
  list-style: none;
  text-decoration: none;
  /* font-style: serif; */
}

body {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
.cointainer {
  position: absolute;
  width: 80%;
  height: 70%;
  top: 15%;
  bottom: 15%;
  left: 10%;
  margin: auto;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  box-shadow: 0 10px 10px 0;
  background-attachment: scroll;
}
.nav-el {
  display: flex;
  height: 45px;
  width: auto;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
}
.nav-el a {
  padding-right: 50px;
  color: white;
  font-size: 20px;
  transition: 2s all;
}
.nav-el a:hover {
  color: grey;
  font-size: 25px;
}
.nav-el p {
  position: absolute;
  left: 30px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
img {
  position: absolute;
  box-sizing: border-box;
  height: 400px;
  bottom: 0;
  opacity: 0.7;
}
.about {
  position: absolute;
  top: 130px;
  right: 350px;
  color: white;
}

.about .line2 {
  font-size: 50px;
}
span {
  color: palevioletred;
}
#blogs {
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-el {
  position: absolute;
  top: 600px;
  width: 80%;
  height: 70%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  box-shadow: 0 10px 10px 0;
  left: 10%;
}
.projects-el {
  position: absolute;
  top: 1110px;
  width: 80%;
  height: 70%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  box-shadow: 0 10px 10px 0;
  left: 10%;
}
.blogs-el {
  position: absolute;
  top: 1620px;
  width: 80%;
  height: 70%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  box-shadow: 0 10px 10px 0;
  left: 10%;
}
h1 {
  position: absolute;
  display: flex;
  left: 40%;
  top: 20px;
  width: 20%;
  height: 45px;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 2px 2px;
  font-size: 25px;
  font-weight: 300;
  font-style: sans;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  color: white;
}
.skills-content {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
.projects-content {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
#icon {
  padding: 30px;
  color: black;
}
#tags {
  font-size: 15px;
  color: white;
  transition: 2s all;
}
i:hover {
  font-size: 100px;
  color: rgb(226, 74, 13);
}
.blogs-content {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
.contact-el {
  position: absolute;
  top: 2140px;
  width: 80%;
  height: 70%;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  box-shadow: 0 10px 10px 0;
  left: 10%;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.contact-content {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 70px;
}
#social-icon {
  padding: 20px;
  color: #000000;
}

@media (max-width: 668px) {
  * {
    overflow-x: hidden;
  }
  h1 {
    width: 40%;
    left: 90px;
  }
  #skills {
    flex-direction: column;
  }
  #social-icon {
    font-size: 30px;
  }
  .contact-content {
    font-size: 25px;
  }
  .blogs-content {
    font-size: 25px;
    overflow-y: hidden;
  }
  /* .button {
    width: 300px;
  } */
}
